<!DOCTYPE html>
<html>

<head>
    <title>Smart Fleet Monitor</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>Smart Fleet Monitor</h1>

    <h2>
        Total Vehicles:
        <span id="total">0</span>
    </h2>

    <table>

        <thead>
            <tr>
                <th>Vehicle ID</th>
                <th>Model</th>
                <th>Mileage</th>
                <th>Temperature</th>
                <th>Fuel Consumption</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody id="vehicleTable">
        </tbody>

    </table>

    <script src="/static/script.js"></script>

</body>

</html>
